<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Validate Token</title>
  </head>
  <body>
    <h1>Check your access token</h1>
    <p><%= myAccessToken %></p>
    <br>
    <form action="/jwt/checkJWT" method="POST">
      <div>
        <label for="token">Check token</label>
        <input name="mytoken" type="text" />
      </div>
      <div>
        <input type="submit" value="submit" />
      </div>
    </form>
  </body>
</html>
